<!DOCTYPE html>
<html lang="ko">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Options</title>
</head>
<body>
    <h1>Menu Options</h1>
    <h2>{{ menu.name }}</h2>
<!--
    <ul>
        {% for option in options %}
            <li>{{ option.option }} - Price: {{ option.price }}</li>
        {% endfor %}
    </ul>
-->
    <ul>
        {% for m in menus %}
            <li>{{ m.menuId.name }} 옵션: {{ m.option }}</li>
    </ul>
</body>
</html>