{% extends 'kiosk/base.html' %}
{% load static %}

{% block main_area %}

    <style>

         body {
            background-color: rgb(237, 237, 237);
        }


        .buttonMic {
            cursor: pointer;
            background-color: transparent;
            border: none;
            padding: 0;
            position: fixed;
            left: calc(50% - 50px); /* 가로 가운데 정렬 */
            width: 100px; /* 원하는 크기로 조정 */
            height: 40px; /* 원하는 크기로 조정 */
        }

        .searchTxt{
            font-size:32px;
            font-weight:bold;
            text-align:center;
            margin-top:25%;
        }
    </style>
    <p class="searchTxt">주문하고 싶은 <br/>
    메뉴를 말해주세요</p>


    <button class="buttonMic">
        <img src="{% static 'micButton.svg' %}" alt="음성인식하기">
    </button>
{% endblock %}